/* 

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'Noto Serif', serif;
 */

body {
    max-width: 1920px;
    height: auto;
    margin: 0;
    padding: 0;
 }


